[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
wyoming = "*"
snac = "*"
sounddevice = "*"
llama-cpp-python = "*"
numpy = "*"
huggingface-hub = "*"
pydantic = "*"

[dev-packages]
pytest-asyncio = "*"
python-speech-features = "*"
scipy = "*"

[requires]
python_version = "3.12"
